<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>Demo5Servlet</display-name>
    <servlet-name>Demo5Servlet</servlet-name>
    <servlet-class>Demo5Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Demo5Servlet</servlet-name>
    <url-pattern>/Demo5Servlet</url-pattern>
  </servlet-mapping>
  <display-name>MARA</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SellServelet</display-name>
    <servlet-name>SellServelet</servlet-name>
    <servlet-class>SellServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SellServelet</servlet-name>
    <url-pattern>/SellServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemoryGameServlet</display-name>
    <servlet-name>MemoryGameServlet</servlet-name>
    <servlet-class>MemoryGameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemoryGameServlet</servlet-name>
    <url-pattern>/MemoryGameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DiceServlet</display-name>
    <servlet-name>DiceServlet</servlet-name>
    <servlet-class>DiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DiceServlet</servlet-name>
    <url-pattern>/DiceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sss</display-name>
    <servlet-name>sss</servlet-name>
    <servlet-class>sss</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sss</servlet-name>
    <url-pattern>/sss</url-pattern>
  </servlet-mapping>
</web-app>